---
  name: Check code

  on:
    workflow_call:

  jobs:
    check-code:
      name: Check code
      runs-on: ubuntu-latest
      steps:
        - name: Check out repository
          uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd  # v5.0.1

        - name: Check if commit messages are compliant
          uses: webiny/action-conventional-commits@8bc41ff4e7d423d56fa4905f6ff79209a78776c7  # v1.3.0
          with:
            allowed-commit-types: "feat,fix,docs,style,refactor,perf,test,chore,bug,build,ci,bump"

        - name: Install uv
          uses: astral-sh/setup-uv@v7
          with:
            version: "0.9.4"  # install a specific version of uv
            enable-cache: true

        - name: Install the project
          run: uv sync

        - name: Check code
          run: uv run ruff check .

        - name: Check code format
          run: uv run ruff format --check .

        - name: Type check using mypy
          run: uv run mypy .