---
  name: Test code

  on:
    push:
      branches:
        - main

    pull_request:
      branches:
        - main

    pull_request_target:
      branches:
        - main

    workflow_call:


  jobs:
    check-code:
      name: Check code
      uses: ./.github/workflows/check-code.yml
      if: |
            (github.event_name == 'pull_request_target' && github.actor == 'dependabot[bot]') ||
            (github.event_name != 'pull_request_target' && github.actor != 'dependabot[bot]')

    test-code:
      name: Test code
      runs-on: ubuntu-latest
      needs: [check-code]
      if: |
            (github.event_name == 'pull_request_target' && github.actor == 'dependabot[bot]') ||
            (github.event_name != 'pull_request_target' && github.actor != 'dependabot[bot]')

      steps:
        - name: Check out repository
          if: ${{ github.event_name != 'pull_request_target' }}
          uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd  # v5.0.1

        - name: Check out repository
          if: ${{ github.event_name == 'pull_request_target' }}
          uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd  # v5.0.1
          with:
            ref: ${{ github.event.pull_request.head.sha }}

        - name: Install uv
          uses: astral-sh/setup-uv@v7
          with:
            version: "0.9.4"  # install a specific version of uv
            enable-cache: true

        - name: Install the project
          run: uv sync

        - name: Unit test using pytest
          run: uv run pytest